@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "importFont";
  src: url("../src/assets/Urbanist-Italic-VariableFont_wght.ttf") format("truetype");
}
.importFont {
  font-family: "importFont", monospace;
  font-weight: 600;
}

.favicon {
  width: 32px; /* Set width to 16 pixels */
  height: 32px; /* Set height to 16 pixels */
}

.bg-image::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../src/assets/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(15%);
}

.up {
  animation: up 10s linear;
}

.down {
  animation: down 10s linear;
}

.rgb {
  animation: rgb 10s infinite;
}



@keyframes up {
  0%, 100% {
    transform: translateY(300%);
    animation-timing-function: ease-in-out;
  }
  25% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-300%);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes down {
  0%, 100% {
    transform: translateY(-300%);
    animation-timing-function: ease-in-out;
  }
  25% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(300%);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}





@keyframes rgb {
  0% {
    color: red;
  }

  25% {
    color: lime;
  }

  75% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), local("SFMono-Regular"); /* Add URL if necessary */
}
