@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfSemibold";
  src: url("../src/assets/SanFranciscoDisplay-Semibold.otf") format("truetype");
}

.sfsemibold {
  font-family: "sfSemibold", monospace;
}

@font-face {
  font-family: "jpfont";
  src: url("../src/assets/NotoSerifJP-Black.otf") format("truetype");
}

.jpFont {
  font-family: "jpfont", monospace;
}

.bg-image::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../src/assets/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(15%);
}

@keyframes fadeText {
  0% {
    opacity: 0;
    transform: translateY(10px), scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(10px), scale(1);
  }
}

.text {
  animation: text 10s linear infinite;
}

.fadeText {
  animation: fadeText 3s linear forwards;
}

@keyframes text {
  0% {
    color: red;
  }

  25% {
    color: lime;
  }

  75% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), local("SFMono-Regular"); /* Add URL if necessary */
}
