@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image::before {
  content:"";
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  background-image: url("../src/background.jpg");
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  filter: brightness(20%)
}



